# risicolive_QC interactive notebook

In [1]:
import risicolive_QC as qc
import pandas as pd
import numpy as np

---
## **Settings**
All DEFAUL settings are placed in the **config.json** file:
1. *INFO*: contains information on time step, unique identifier for the single station (*KEY_STATION*) and variables;
2. *TEST*: contains information for tests.
    - *WINDOW*: sliding window
    - *VARS_CHECK*: variables checked for the complete_test
    - *VARS_CONS*: variables checked for the consistency_test
    - *RANGES*: ranges checked for the range_test
    - *STEPS*: steps checked for the step_test
    - *VARIATIONS*: variations checked for the time_persistence_test. These variations are controlled in a specific range of values

These information can be accessed by DEFAULT. The user can also modified these info, following the DEFAULT structure (see examples below).

In [2]:
qc.INFO

{'DT': '10min',
 'KEY_STATION': 'station_id',
 'VARS': {'t': {'info': 'temperature', 'um': 'C'},
  'h': {'info': 'humidity', 'um': '.'},
  'p': {'info': 'precipitation', 'um': 'mm/dt'},
  'ws': {'info': 'wind speed', 'um': 'm/s'},
  'wd': {'info': 'wind direction', 'um': 'deg'}}}

In [3]:
qc.DEFAULT

{'VARS_CHECK': ['t', 'h', 'p', 'ws'],
 'VARS_CONS': ['ws', 'wd'],
 'RANGES': {'t': [-30, 50],
  'h': [0, 100],
  'p': [0, 400],
  'ws': [0, 75],
  'wd': [0, 360]},
 'STEPS': {'t': 2, 'h': 10},
 'WINDOW': 3,
 'VARIATIONS': {'t': [0.01, -30, 50], 'h': [0.01, 0, 95], 'ws': [0.01, 0, 75]}}

---
## **Example**

In [4]:
df_TEST = pd.read_csv('test/test_1.csv', index_col=0)
df_TEST

,p,t,h,ws,wd,sm,gsi,igsi,pheno_phase,grass_phase,moisture,intensity,ros,wind_effect
date,,,,,,,,,,,,,,
2022-09-26 14:20:00,0.0,14.7,65.0,1.9,326.0,0.009976,0.616484,0.595869,1.0,1.0,18.684500,111.551000,60.250600,1.223390
2022-09-26 14:30:00,0.0,15.3,66.0,2.1,255.0,0.009964,0.616484,0.595869,1.0,1.0,18.491671,116.941721,62.987787,1.256369
2022-09-26 14:40:00,0.0,14.7,59.0,1.5,333.0,0.009951,0.616484,0.595869,1.0,1.0,18.286360,110.543662,59.375107,1.163274
2022-09-26 14:50:00,0.0,13.7,60.0,4.3,254.0,0.009939,0.616484,0.595869,1.0,1.0,18.063962,169.436369,90.737307,1.744476
2022-09-26 15:00:00,0.0,13.7,58.0,3.7,266.0,0.009927,0.616484,0.595869,1.0,1.0,17.846862,158.161313,84.427719,1.590695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-27 13:40:00,NaN,NaN,NaN,NaN,NaN,0.009332,0.616484,0.595869,1.0,1.0,NaN,NaN,NaN,NaN
2022-09-27 13:50:00,NaN,NaN,NaN,NaN,NaN,0.009332,0.616484,0.595869,1.0,1.0,NaN,NaN,NaN,NaN
2022-09-27 14:00:00,NaN,NaN,NaN,NaN,NaN,0.009332,0.616484,0.595869,1.0,1.0,NaN,NaN,NaN,NaN
2022-09-27 14:10:00,NaN,NaN,NaN,NaN,NaN,0.009332,0.616484,0.595869,1.0,1.0,NaN,NaN,NaN,NaN
2022-09-27 14:20:00,NaN,NaN,NaN,NaN,NaN,0.009332,0.616484,0.595869,1.0,1.0,NaN,NaN,NaN,NaN

In [5]:
# TEST ON A SINGLE STATION: DEFAULT
df_check = qc.quality_check(df_TEST)
df_check

                     QC    QC_LABEL
date
2022-09-26 14:20:00   7  SUSPICIOUS
2022-09-26 14:30:00  15  SUSPICIOUS
2022-09-26 14:40:00  31        GOOD
2022-09-26 14:50:00  31        GOOD
2022-09-26 15:00:00  31        GOOD
...                  ..         ...
2022-09-27 13:40:00   2  SUSPICIOUS
2022-09-27 13:50:00   2  SUSPICIOUS
2022-09-27 14:00:00   2  SUSPICIOUS
2022-09-27 14:10:00   2  SUSPICIOUS
2022-09-27 14:20:00   2  SUSPICIOUS

[145 rows x 2 columns]

In [6]:
# TEST ON A SINGLE STATION: CHANGE CONFIG
# Some info are specified by user (e.g. variables checked by complete_test, ranges checked by range_test). 
# The missing info are added by default configuration
settings_new = {'VARS_CHECK':['t'], 'RANGES':{'t':[0, 50]}, 'VARIATIONS':{'t':[1,-10,50]}}
df_check_new = qc.quality_check(df_TEST, settings=settings_new)
df_check_new

                     QC    QC_LABEL
date
2022-09-26 14:20:00   7  SUSPICIOUS
2022-09-26 14:30:00  15  SUSPICIOUS
2022-09-26 14:40:00  15  SUSPICIOUS
2022-09-26 14:50:00  31        GOOD
2022-09-26 15:00:00  31        GOOD
...                  ..         ...
2022-09-27 13:40:00   2  SUSPICIOUS
2022-09-27 13:50:00   2  SUSPICIOUS
2022-09-27 14:00:00   2  SUSPICIOUS
2022-09-27 14:10:00   2  SUSPICIOUS
2022-09-27 14:20:00   2  SUSPICIOUS

[145 rows x 2 columns]